@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root{
    --primay-color:;
    --off-white:;
    --darl-gray:;
}

body{
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}